/*------------------------------------
* sext
*
* @author linghua.zhang@me.com
* @link http://lhzhang.com/
* @update 2011-12-20
* 
* |/ | (~ (~
* |\.|._)._)
* --------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Galdeano);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
body{font-size:14px;font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;color:#000000;background-color:#ffffff;}
*{padding:0;margin: 0;border:none;outline:none;}
a{color:#dd0000;text-decoration:none;}
a:hover{color:#333333;text-decoration:underline;}
hr{margin:.7em 0;border-top:1px dashed #d0d0d0;border-bottom:1px dashed #f9f9f9;}
p{padding:.5em 0;}
li{padding:.2em 0;}
ol,ul{list-style-position:inside;}
ol ul, ul ol, ul ul, ol ol {margin-left:1em;}
pre code{margin:1em 0;font-size:13px;line-height:1.6;display:block;overflow:auto;}
blockquote{display:block;text-align:justify;border-left:4px solid #eeeeee;}
blockquote{margin:1em 0em;padding-left:1.5em;}
blockquote p{margin:0;padding:.5em 0;}
#container{width:600px;margin:2em auto;display:block;padding:0 2em;}
.content{font-size:16px;line-height:24px;}
.content h1{padding:.5em 0;}
.content img{max-width:600px;display:block;margin:4px auto;-webkit-box-shadow:#999 1px 1px 4px;-moz-box-shadow:#999 1px 1px 4px;box-shadow:#999 1px 1px 4px;}
#tag_cloud{margin-bottom: 1em;}
#tag_cloud a:hover{color:#333333 !important;text-decoration:none;}
.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{padding:.2em 1em;}
.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;}
.meta{text-align:right;font-size:12px;}
header{padding:.5em 0;border-bottom: 1px solid #cccccc;}
nav{font-family:"Electrolize",sans-serif;font-size:1.1em;text-transform:uppercase;float:left;margin-left:-12em;width:9em;text-align:right;}
nav a{display:block;padding:.7em 1em;color:#000000;}
nav a:hover{background-color:#ff0000;text-decoration:none;color:#f9f9f9;-webkit-transition:color .2s linear;}
.post{padding:.5em 0em;}
h1{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.6em;color:#000;}
h2{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.4em;color:#111;}
h3{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.2em;color:#222;}
h4{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1em;color:#333;}
pre,code{font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace;font-size:13px;}
code{background-color:#F7F7F7;}
embed,object,iframe{display:block;margin:4px auto;}
.gist{font-size: 12px;line-height:1.6;}

/*hide duoshuo*/
.ds-powered-by{display:none !important}
.ds-post-report{display:none !important}
*{padding:0;margin: 0;/*border:none;*/outline:none;}

/*duoshuo,disqus button*/
.duoshuo{-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;box-shadow:inset 0px 1px 0px 0px #f7c5c0;background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#fc8d83),color-stop(1,#e4685d) );background:-moz-linear-gradient( center top,#fc8d83 5%,#e4685d 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83',endColorstr='#e4685d');background-color:#fc8d83;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #d83526;display:inline-block;color:#ffffff;font-family:arial;font-size:15px;font-weight:bold;padding:6px 24px;text-decoration:none;text-shadow:1px 1px 0px #b23e35;}.classname:hover{background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#e4685d),color-stop(1,#fc8d83) );background:-moz-linear-gradient( center top,#e4685d 5%,#fc8d83 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d',endColorstr='#fc8d83');background-color:#e4685d;}.classname:active{position:relative;top:1px;}.disqus{-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;box-shadow:inset 0px 1px 0px 0px #a4e271;background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#89c403),color-stop(1,#77a809) );background:-moz-linear-gradient( center top,#89c403 5%,#77a809 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403',endColorstr='#77a809');background-color:#89c403;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #74b807;display:inline-block;color:#ffffff;font-family:arial;font-size:15px;font-weight:bold;padding:6px 24px;text-decoration:none;text-shadow:1px 1px 0px #528009;}.classname:hover{background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#77a809),color-stop(1,#89c403) );background:-moz-linear-gradient( center top,#77a809 5%,#89c403 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809',endColorstr='#89c403');background-color:#77a809;}.classname:active{position:relative;top:1px;}